-i https://pypi.tuna.tsinghua.edu.cn/simple

fastapi==0.111.0
pydantic-settings==2.3.3
sentry-sdk[fastapi]==2.5.1
jinja2==3.1.4
orjson==3.10.5
uvicorn==0.30.1
lz4==4.3.3
httpx==0.27.0
uvicorn[standard]==0.30.1
aiofiles==23.2.1
openai==1.34.0
moviepy==1.0.3
opencv-python==4.10.0.84
pillow==10.3.0

# autocut-sub==1.0.2
git+https://github.com/methanal/autocut.git@libs#egg=autocut-sub
