venv/
**/*.py[cod]
**/__pycache__/
**/.pytest_cache/
**/coverage_html/
.cache/
.ropeproject/
.coverage
cobertura.xml
testresult.xml
**/secrets.py
**/secrets.yaml
**/*.secrets
**/local.py
.mypy_cache/
**/*.egg-info
models/
**/*.sqlite3
**/.DS_Store
**/*.log
local_env.sh
**/.git
